[submodule "config-zsh"]
	path = zsh
	url = https://github.com/aniederl/config-zsh.git
	branch = master
[submodule "config-vim"]
	path = vim
	url = https://github.com/aniederl/config-vim.git
	branch = master
[submodule "X11"]
	path = X11
	url = https://github.com/aniederl/config-X11.git
	branch = master
[submodule "git"]
	path = git
	url = https://github.com/aniederl/config-git.git
	branch = master
[submodule "xmonad"]
	path = xmonad
	url = https://github.com/aniederl/config-xmonad.git
	branch = master
[submodule "slrn"]
	path = slrn
	url = https://github.com/aniederl/config-slrn.git
	branch = master
